# Supabase Configuration
VITE_SUPABASE_URL=https://zolfyezvvzexslaudjbx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvbGZ5ZXp2dnpleHNsYXVkamJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExMzMzNzQsImV4cCI6MjA4NjcwOTM3NH0.MTRChqs2Z_SSk2YDLqfZYAumFnCCL2o4rXKyc1q5E4w
